body {
    background-color: #2a2a2a;
}

.container {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    color: #1eff00;
}

.heading {
    border: #1eff00 solid .5rem;
    margin-bottom: 1rem;
    background-color: #1eff00;
    transition: ease 1s;
    color: #2a2a2a;
}

.heading:hover {
    color: #1eff00;
    background-color: #2a2a2a;
    transition: ease 1s;
    cursor: pointer;
}

.main-head {
    font-size: 3rem;
    padding: 2rem;
    animation: slideRight ease 1s;
}

.content {
    margin-right: 25%;
    margin-left: 25%;
}

.instruct {
    font-size: 2rem;
    margin-bottom: 1rem;
    animation: slideLeft ease 1s;
} 

.content ol li {
    padding-bottom: 2rem;
    animation: slideRight ease 1s;
}

.getThis {
    height: 5rem;
    width: 10rem;
    border: #1eff00 solid .5rem;
    padding: 2rem;
    display: inline-block;
    animation: fadeIn ease 1s;
}

#randNum {
    font-size: 2rem;
    position: absolute;
}

.winLose {
    height: 5rem;
    width: 10rem;
    border: #1eff00 solid .5rem;
    padding: 2rem;
    display: inline-block;
    animation: fadeIn ease 1s;
}

.winLose p {
    display: block;
}

.blocks {
    margin-top: 2rem;
}

.block-img {
    height: 10rem;
    width: 10rem;
    transition: .5s ease;
    animation: slideLeft ease 1s;
}

.block-img:hover {
    opacity: .5;
    transition: .5s ease;
    cursor: pointer;
}

.start {
    font-size: 1rem;
    border: .25rem solid #1eff00;
    padding: 1rem;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1rem;
    animation: slideRight ease 1s;
}

.userScore {
    font-size: 1rem;
    border: .25rem solid #1eff00;
    padding: 1rem;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1rem;
    animation: slideLeft ease 1s;
}

.links, 
link:active {
    color: white;
    text-decoration: none;
    transition: .5s;
    padding-left: 1px;
    padding-right: 1px;
}

.links:hover {
    color: #2a2a2a;
    background-color: #1eff00;
    transition: .5s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    85% {
        transform: translateX(25px);
        opacity: 1;
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    85% {
        transform: translateX(-25px);
        opacity: 1;
    }
    100% {
        transform: translateX(0)
    }
}

/* ============================ Adding Mobile Opt =========================== */
@media screen and (max-width: 500px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
    .getThis {
        height: 4rem;
        width: 5rem;
        border: #1eff00 solid .25rem;
        padding: 1rem;
        font-size: .5rem;
    }
    .winLose {
        height: 4rem;
        width: 5rem;
        border: #1eff00 solid .25rem;
        padding: 1rem;
        font-size: .5rem;
        
    }
}